@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif;  nao gostei por isso n botei*/
}
html, body {
    background-color: darkgray;
    min-height: 100vh;
}
header {
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    /* text-transform: uppercase; pra transformar*/
    /* font-size: 8.5vw; viewport width */
    font-size: 2em;
}
header > p {
    padding-bottom: 50px;
}
a {
    color: #fff6f6;
    text-decoration: underline;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
    color: #ffd9b5;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section > p {
    padding-bottom: 2em;
}
section.normal {
    background-color: white;
    color: black;
}
section.imagem {
    background-color: #363636;
    color: white;
    border: 1px solid black;
    background-attachment: fixed;
}
section.imagem > p {
    padding: 5px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.445);
    width: 400px;
}
section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-size: cover;
    background-position: center;
}
section#img02 {
    background-image: url(../imagens/background002.jpg);
    background-size: cover;
    background-position: center;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}